<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" style="margin-top:20px;">
    <span class="navbar-text ml-auto">Contact to :
        <a href='mailto:miriamme@gmail.com'><%=_g.author.contact%></a>
    </span>
</nav>