<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">MirBoard</h1>
        <h2>
            <strong>nodejs</strong> version</h2>
        <p>MirBoard는 간단한 학습용 게시판으로써, 웹개발자에게 도움을 드리기 위한 간단한 소스를 제공합니다.
            <br/> 소스코드는 아래 github를 통해 제공됩니다.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://github.com/miriamme/mirboard" role="button" target="_blank">Github</a>
            <a class="btn btn-dark btn-lg" href="/board" role="button">BOARD <small class="text-muted">nodejs ver.</small></a>
        </p>
    </div>
</div>