<!DOCTYPE html>
<html lang="kr">
<% include ./partials/head.ejs %>

<body>
    <% include ./partials/header.ejs %>

    <main role="main">
        <% include ./partials/mainHeader.ejs %>
    </main>

    <% include ./partials/footer.ejs %>
</body>

</html>