<!DOCTYPE html>
<html lang="kr">
<% include ./partials/head.ejs %>

<body>
    <% include ./partials/header.ejs %>
    <main role="main">
        <% include ./partials/mainHeader.ejs %>
        <div class="starter-template">
            <div class="container">
                <form class="form-horizontal" role="form" method="POST" action="/user/register">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h2>Register New User</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 field-label-responsive">
                            <label for="name">Name</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                    <input type="text" name="userid" class="form-control" id="userid" placeholder="you@example.com" value="<%=userid%>" required autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 field-label-responsive">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-danger">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 field-label-responsive">
                            <label for="password">Confirm Password</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon" style="width: 2.6rem">
                                        <i class="fa fa-repeat"></i>
                                    </div>
                                    <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Password" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (message !== "") { %>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-control-feedback">
                                <span class="text-danger align-middle">
                                    <i class="fa fa-close"></i> <%=message%>
                                </span>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </main>
    <% include ./partials/footer.ejs %>
</body>

</html>